<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/temp/t_index::head_index">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="/temp/t_index::top_nav"></div>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-2">
            <div th:include="/temp/t_index::left_menu"></div>
        </div>
        <div class="col-md-10">
            根目录文件夹下【com/lm/cms2/aspect/log.txt】
        </div>
    </div>
</div>
   <div th:replace="/temp/t_index::tail_index">
   </div>
</body>
</html>