<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/temp/t_index::head_index">
    <meta charset="UTF-8">
    <title>结算中心</title>
</head>
<body>
<div th:include="/temp/t_index::top_nav"></div>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-2">
            <div th:include="/temp/t_index::left_menu"></div>
        </div>
        <div class="col-md-10">
            <div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>会员名</th>
                        <th>余额</th>
                        <th>账户状态</th>
                        <th>联系方式</th>
                        <th>充值</th>
                        <th>禁用</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="active" th:each="deal:${alldeal}">
                        <td th:text="${deal[mb_deal_id]}"></td>
                        <td th:text="${deal[t_user_account]}"></td>
                        <td th:text="${deal[mb_deal_money]}"></td>
                        <td th:text="${deal[mb_state]}"></td>
                        <td th:text="${deal[t_user_email]}"></td>
                        <td><a class="btn btn-info  btn-xs"  th:onclick="'javascript:opendlg('+${deal.mb_deal_id}+')'">充值</a></td>
                        <td><button class="btn btn-danger   btn-xs" th:href="${'/update?mb_deal_id='+deal.mb_deal_id}">禁用</button></td>
                    </tr>
                    </tbody>
                </table>
                <!---->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    确认身份
                                </h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="mb_role">操作人</label>
                                        <input type="text" class="form-control" id="mb_role" placeholder="您的姓名">
                                    </div>
                                    <div class="form-group">
                                        <label for="money">充值金额</label>
                                        <input type="text" class="form-control" id="money" placeholder="请输入名称">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                </button>
                                <button type="button" onclick="chongzhi()" class="btn btn-primary">
                                    提交更改
                                </button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
                <!---->
            </div>
        </div>
    </div>
</div>
   <div th:replace="/temp/t_index::tail_index">
   </div>
<script  th:inline="javascript">
        var mb_id="";
        function opendlg(mb_deal_id) {
            mb_id=mb_deal_id;
            $('#myModal').modal('show')
        }
        /* hash判断 */
        var urlHash = window.location.hash;

        function chongzhi() {

            var mb_role = $('#mb_role').val()
            var money = $('#money').val()
            $.post('/addmoney', {
                "mb_role": mb_role,
                "money": money,
                "mb_deal_id": mb_id
            }, function () {
                $('#myModal').modal('hide')
            })
        }

</script>
</body>
</html>