<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/temp/t_index::head_index">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="/temp/t_index::top_nav"></div>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-2">
            <div th:include="/temp/t_index::left_menu"></div>
        </div>
        <div class="col-md-10">
        <div class="col-md-6">
            <form id="defaultForm" class="form-horizontal" role="form" action="/saverecenode">
                <div class="form-group">
                    <label for="t_rece_node_name" class="col-sm-2 control-label">栏目名称 </label>
                    <div class="col-sm-10">
                        <input type="text"  name="t_rece_node_name" class="form-control" id="t_rece_node_name"
                               placeholder="请输入栏目名称">
                    </div>
                </div>
                <div class="form-group">
                    <label for="t_rece_node_url"  class="col-sm-2 control-label">栏目路径</label>
                    <div class="col-sm-10">
                        <input type="text" name="t_rece_node_url" class="form-control" id="t_rece_node_url"
                               placeholder="请输入栏目路径">
                    </div>
                </div>
                <div class="form-group">
                    <label for="t_rece_node_level"  class="col-sm-2 control-label">栏目等级</label>
                    <div class="col-sm-10">
                        <input type="checkbox" checked name="t_rece_node_level" id="t_rece_node_level" value="1">一级栏目
                    </div>
                </div>
                <input type="hidden" value="0" name="t_rece_node_parent_id" id="t_rece_node_parent_id">
                <input type="hidden" value="dropdown" name="data" id="data">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id="btn_submit" type="submit" class="btn btn-default">保存</button>
                        <button id="btn_reset" type="reset" class="btn btn-danger">重置</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
<div th:replace="/temp/t_index::tail_index">
</div>
<script>
    $(document).ready(function() {
        // Generate a simple captcha
        function randomNumber(min, max) {
            return Math.floor(Math.random() * (max - min + 1) + min);
        };
        $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));

        $('#defaultForm').bootstrapValidator({
//        live: 'disabled',
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                t_rece_node_name: {
                    validators: {
                        notEmpty: {
                            message: '栏目名称不允许为空'
                        }
                    }
                },
                lastName: {
                    group: '.col-lg-4',
                    validators: {
                        notEmpty: {
                            message: 'The last name is required and cannot be empty'
                        }
                    }
                },
                username: {
                    message: 'The username is not valid',
                    validators: {
                        notEmpty: {
                            message: 'The username is required and cannot be empty'
                        },
                        stringLength: {
                            min: 6,
                            max: 30,
                            message: 'The username must be more than 6 and less than 30 characters long'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: 'The username can only consist of alphabetical, number, dot and underscore'
                        },
                        remote: {
                            type: 'POST',
                            url: 'remote.php',
                            message: 'The username is not available'
                        },
                        different: {
                            field: 'password,confirmPassword',
                            message: 'The username and password cannot be the same as each other'
                        }
                    }
                },
                t_rece_node_code: {
                    validators: {
                        notEmpty: {
                            message: '栏目编码是必需的，不能是空的'
                        },
                        identical: {
                            field: 't_rece_node_code2',
                            message: '栏目编码要和确认栏目编码相同'
                        },

                    }
                },
                t_rece_node_code2: {
                    validators: {
                        notEmpty: {
                            message: '确认栏目编码不能为空'
                        },
                        identical: {
                            field: 't_rece_node_code',
                            message: '栏目编码不一致'
                        },
                    }
                },
                captcha: {
                    validators: {
                        callback: {
                            message: 'Wrong answer',
                            callback: function(value, validator) {
                                var items = $('#captchaOperation').html().split(' '), sum = parseInt(items[0]) + parseInt(items[2]);
                                return value == sum;
                            }
                        }
                    }
                }
            }
        });

        // Validate the form manually
        $('#btn_submit').click(function() {
            $('#defaultForm').bootstrapValidator('validate');
            if ($("#defaultForm").data('bootstrapValidator').isValid()) {
                //获取验证结果，如果成功，执行下面代码
                document.getElementById("defaultForm").submit();

            }
        });

        $('#btn_reset').click(function() {
            $('#defaultForm').data('bootstrapValidator').resetForm(true);
        });
    });
</script>
</body>
</html>