<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/temp/t_index::head_index">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="/temp/t_index::top_nav"></div>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-2">
            <div th:include="/temp/t_index::left_menu"></div>
        </div>
        <div class="col-md-10">
            <a class="btn btn-success btn-xs" href="/newrole">添加角色</a>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>角色名</th>
                    <th>删除</th>
                    <th>编辑</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rolea:${allrole}">
                   <td th:text="${rolea[t_role_id]}"></td>
                   <td th:text="${rolea[t_role_name]}"></td>
                    <td><a class="btn btn-danger  btn-xs" th:href="${'/deleterole?t_role_id='+rolea.t_role_id}">删除</a></td>
                    <td><a class="btn btn-info  btn-xs" th:href="${'/updaterole?t_role_id='+rolea.t_role_id}">编辑</a></td>
                    <td th:if="${success==success}" th:text="${success}" style="size: 20px;color: #67b168"></td>
                    <td th:if="${error==error}" th:text="${error}" style="size: 20px; color: red"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="/temp/t_index::tail_index">
</div>
<script>

</script>
</body>
</html>