<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/temp/t_index::head_index">
    <meta charset="UTF-8">
    <title>个人主页</title>
</head>
<body>
<div th:replace="/temp/t_index::tail_index"></div>
<div th:include="/temp/t_index::top_nav"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div th:include="/temp/t_index::left_menu"></div>
        </div>
        <div class="col-md-10">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#home" data-toggle="tab">
                        个人信息
                    </a>
                </li>
                <li><a href="#ios" data-toggle="tab">修改密码</a></li>
                <li class="dropdown">
                    <a href="#" id="myTabDrop1" class="dropdown-toggle"
                       data-toggle="dropdown">作品管理
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                        <li><a href="#jmeter" tabindex="-1" data-toggle="tab">我的文章</a></li>
                        <li><a href="#ejb" tabindex="-1" data-toggle="tab">评论详情</a></li>
                    </ul>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <ul class="list-group" th:each="usera:${alluserhome}">
                        <li class="list-group-item"><b>头像&nbsp;:&nbsp;&nbsp;</b><img style="width:100px; height:100px; border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;"    th:src="${'/image/'+usera[t_user_url]}"></li>
                        <li class="list-group-item"><b>用户名:&nbsp;&nbsp;<span th:text="${usera[t_user_account]}"></span></b></li>
                        <li class="list-group-item"><div id="uploader-demo">
                            <!--用来存放item-->
                            <div id="fileList" class="uploader-list"></div>
                            <div id="filePicker">修改头像</div>
                            <input type="hidden" id="touxiang">
                        </div></li>
                        <li class="list-group-item"><b>M币余额:&nbsp;&nbsp;<span>200</span></b>
                        <a href="#">交易明细</a></li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="ios">

                    <p><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                        修改密码
                    </button></p>
                    <!-- 模态框（Modal） -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        修改密码
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <label for="t_user_password" class="col-sm-2 control-label">原密码</label>
                                    <input type="text" th:each="user:${alluserhome}" th:value="${user[t_user_password]}" class="form-control" id="t_user_password" placeholder="请原密码">
                                    <br>
                                    <label for="t_user_password2" class="col-sm-2 control-label">新密码</label>
                                    <input type="text" class="form-control" value="" id="t_user_password2" placeholder="请输入新密码">

                                </div>
                                <div class="modal-footer">
                                    <button type="button"  id="guanbi" class="btn btn-default" data-dismiss="modal">关闭
                                    </button>
                                    <button type="button" onclick="newpassword()" class="btn btn-primary">
                                        提交更改
                                    </button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
                <div class="tab-pane fade" id="jmeter">
                    <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
                </div>
                <div class="tab-pane fade" id="ejb">
                    <p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/public/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/public/webuploader.dist/webuploader.js"></script>
<script type="text/javascript" src="/public/webuploader.dist/image-upload/uploader.js"></script>
<script>
    var uploader = WebUploader.create({

        // 选完文件后，是否自动上传。
        auto: true,

        // swf文件路径
        swf: '/public/webuploader.dist/Uploader.swf',

        // 文件接收服务端。
        server: '/webuploader',

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#filePicker',

        // 只允许选择图片文件。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    });

</script>

<script  th:inline="javascript">
    function newpassword() {
        var t_user_account=[[${session.t_user}]];
        var t_user_password=$('#t_user_password2').val();
        $.post('/newpassword',{"t_user_account":t_user_account,"t_user_password":t_user_password},function (data) {
            if (data.error=="success"){
                alert("保存成功");
                //关闭模态框
                $('#guanbi').trigger("click");
            }else {
                alert("保存失败");
            }
        },'json')
    };
</script>
</body>
</html>