<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/temp/t_index::head_index">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="/temp/t_index::top_nav"></div>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-2">
            <div th:include="/temp/t_index::left_menu"></div>
        </div>
        <div class="col-md-10">
            <br>
            <br>

            <div class="form-group">
                <label for="t_role_id" class="col-sm-2 control-label">
                    请选择角色</label>

                <div class="col-sm-3">
                 <select  class="form-control" id="t_role_id">
                     <option>请选择</option>
                     <option th:each="role:${allroles}"
                              th:text="${role.t_role_name}"
                              th:value="${role.t_role_id}">

                     </option>
                 </select>
             </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-md-10">


            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>菜单名称</th>
                    <th>菜单等级</th>
                    <th>父菜单id</th>
                </tr>
                </thead>
                <tbody id="tb">
                <first_tr th:each="node:${allnodes}" th:if="${node.t_node_level=='1'}">
                    <tr >
                     <td th:text="${node.t_node_id}"></td>
                     <td >
                         <input type="checkbox" name="nodecheckbox" class="checkbox-inline" th:id="${node.t_node_id}">
                         <span th:text="${node.t_node_name}"></span>
                     </td>
                     <td></td>
                     <td th:text="${node.t_node_level}"></td>
                     <td th:text="${node.t_node_parent_id}"></td>
                    </tr>
                    <second_tr th:each="node2:${allnodes}"
                           th:if="${node.t_node_id+''==node2.t_node_parent_id+''}">
                        <tr>
                            <td th:text="${node2.t_node_id}"></td>
                            <td></td>
                            <td >
                                <input name="nodecheckbox" type="checkbox" class="checkbox-inline" th:id="${node2.t_node_id}">
                                <span th:text="${node2.t_node_name}"></span>
                            </td>

                            <td th:text="${node2.t_node_level}"></td>
                            <td th:text="${node2.t_node_parent_id}"></td>
                        </tr>
                    </second_tr>
                </first_tr>

                </tbody>
            </table>
                </div>
            </div>
        </div>
    </div>
</div>
   <div th:replace="/temp/t_index::tail_index">
   </div>
<script>
     $(document).ready(function () {
        //select 添加change事件
          $('#t_role_id').change(function () {
             var role_id=  $('#t_role_id').val();

             $.post('/getnodesbyroleid',{"t_role_id":role_id},function (data) {
                // allcheckbox=  document.getElementsByName("nodecheckbox");
                $allcheckbox=$('[name="nodecheckbox"]');
                console.log($allcheckbox);
                $allcheckbox.removeAttr("checked");
                 console.log($allcheckbox);
                 for(i=0;i<data.length;i++){
                    id=  data[i].t_node_id;
                    $('#'+id+'').prop("checked",true);
                 }

             });
          });
     });

</script>
</body>
</html>