<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybj.news_website.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.ybj.news_website.model.Article">
    <id column="article_id" jdbcType="INTEGER" property="article_id" />
    <result column="article_created_time" jdbcType="TIMESTAMP" property="article_created_time" />
    <result column="article_img1" jdbcType="VARCHAR" property="article_img1" />
    <result column="article_img2" jdbcType="VARCHAR" property="article_img2" />
    <result column="article_img3" jdbcType="VARCHAR" property="article_img3" />
    <result column="article_img4" jdbcType="VARCHAR" property="article_img4" />
    <result column="article_img5" jdbcType="VARCHAR" property="article_img5" />
    <result column="classification_id" jdbcType="INTEGER" property="classification_id" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="checked" jdbcType="INTEGER" property="checked" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ybj.news_website.model.Article">
    <result column="article_context" jdbcType="LONGVARCHAR" property="article_context" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    article_id, article_created_time, article_img1, article_img2, article_img3, article_img4, 
    article_img5, classification_id, user_id, checked
  </sql>
  <sql id="Blob_Column_List">
    article_context
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.ybj.news_website.model.ArticleExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.ybj.news_website.model.ArticleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    where article_id = #{article_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article
    where article_id = #{article_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ybj.news_website.model.ArticleExample">
    delete from article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ybj.news_website.model.Article">
    insert into article (article_id, article_created_time, 
      article_img1, article_img2, article_img3, 
      article_img4, article_img5, classification_id, 
      user_id, checked, article_context
      )
    values (#{article_id,jdbcType=INTEGER}, #{article_created_time,jdbcType=TIMESTAMP}, 
      #{article_img1,jdbcType=VARCHAR}, #{article_img2,jdbcType=VARCHAR}, #{article_img3,jdbcType=VARCHAR}, 
      #{article_img4,jdbcType=VARCHAR}, #{article_img5,jdbcType=VARCHAR}, #{classification_id,jdbcType=INTEGER}, 
      #{user_id,jdbcType=INTEGER}, #{checked,jdbcType=INTEGER}, #{article_context,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ybj.news_website.model.Article">
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="article_id != null">
        article_id,
      </if>
      <if test="article_created_time != null">
        article_created_time,
      </if>
      <if test="article_img1 != null">
        article_img1,
      </if>
      <if test="article_img2 != null">
        article_img2,
      </if>
      <if test="article_img3 != null">
        article_img3,
      </if>
      <if test="article_img4 != null">
        article_img4,
      </if>
      <if test="article_img5 != null">
        article_img5,
      </if>
      <if test="classification_id != null">
        classification_id,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="checked != null">
        checked,
      </if>
      <if test="article_context != null">
        article_context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="article_id != null">
        #{article_id,jdbcType=INTEGER},
      </if>
      <if test="article_created_time != null">
        #{article_created_time,jdbcType=TIMESTAMP},
      </if>
      <if test="article_img1 != null">
        #{article_img1,jdbcType=VARCHAR},
      </if>
      <if test="article_img2 != null">
        #{article_img2,jdbcType=VARCHAR},
      </if>
      <if test="article_img3 != null">
        #{article_img3,jdbcType=VARCHAR},
      </if>
      <if test="article_img4 != null">
        #{article_img4,jdbcType=VARCHAR},
      </if>
      <if test="article_img5 != null">
        #{article_img5,jdbcType=VARCHAR},
      </if>
      <if test="classification_id != null">
        #{classification_id,jdbcType=INTEGER},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=INTEGER},
      </if>
      <if test="checked != null">
        #{checked,jdbcType=INTEGER},
      </if>
      <if test="article_context != null">
        #{article_context,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ybj.news_website.model.ArticleExample" resultType="java.lang.Long">
    select count(*) from article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update article
    <set>
      <if test="record.article_id != null">
        article_id = #{record.article_id,jdbcType=INTEGER},
      </if>
      <if test="record.article_created_time != null">
        article_created_time = #{record.article_created_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.article_img1 != null">
        article_img1 = #{record.article_img1,jdbcType=VARCHAR},
      </if>
      <if test="record.article_img2 != null">
        article_img2 = #{record.article_img2,jdbcType=VARCHAR},
      </if>
      <if test="record.article_img3 != null">
        article_img3 = #{record.article_img3,jdbcType=VARCHAR},
      </if>
      <if test="record.article_img4 != null">
        article_img4 = #{record.article_img4,jdbcType=VARCHAR},
      </if>
      <if test="record.article_img5 != null">
        article_img5 = #{record.article_img5,jdbcType=VARCHAR},
      </if>
      <if test="record.classification_id != null">
        classification_id = #{record.classification_id,jdbcType=INTEGER},
      </if>
      <if test="record.user_id != null">
        user_id = #{record.user_id,jdbcType=INTEGER},
      </if>
      <if test="record.checked != null">
        checked = #{record.checked,jdbcType=INTEGER},
      </if>
      <if test="record.article_context != null">
        article_context = #{record.article_context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update article
    set article_id = #{record.article_id,jdbcType=INTEGER},
      article_created_time = #{record.article_created_time,jdbcType=TIMESTAMP},
      article_img1 = #{record.article_img1,jdbcType=VARCHAR},
      article_img2 = #{record.article_img2,jdbcType=VARCHAR},
      article_img3 = #{record.article_img3,jdbcType=VARCHAR},
      article_img4 = #{record.article_img4,jdbcType=VARCHAR},
      article_img5 = #{record.article_img5,jdbcType=VARCHAR},
      classification_id = #{record.classification_id,jdbcType=INTEGER},
      user_id = #{record.user_id,jdbcType=INTEGER},
      checked = #{record.checked,jdbcType=INTEGER},
      article_context = #{record.article_context,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update article
    set article_id = #{record.article_id,jdbcType=INTEGER},
      article_created_time = #{record.article_created_time,jdbcType=TIMESTAMP},
      article_img1 = #{record.article_img1,jdbcType=VARCHAR},
      article_img2 = #{record.article_img2,jdbcType=VARCHAR},
      article_img3 = #{record.article_img3,jdbcType=VARCHAR},
      article_img4 = #{record.article_img4,jdbcType=VARCHAR},
      article_img5 = #{record.article_img5,jdbcType=VARCHAR},
      classification_id = #{record.classification_id,jdbcType=INTEGER},
      user_id = #{record.user_id,jdbcType=INTEGER},
      checked = #{record.checked,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ybj.news_website.model.Article">
    update article
    <set>
      <if test="article_created_time != null">
        article_created_time = #{article_created_time,jdbcType=TIMESTAMP},
      </if>
      <if test="article_img1 != null">
        article_img1 = #{article_img1,jdbcType=VARCHAR},
      </if>
      <if test="article_img2 != null">
        article_img2 = #{article_img2,jdbcType=VARCHAR},
      </if>
      <if test="article_img3 != null">
        article_img3 = #{article_img3,jdbcType=VARCHAR},
      </if>
      <if test="article_img4 != null">
        article_img4 = #{article_img4,jdbcType=VARCHAR},
      </if>
      <if test="article_img5 != null">
        article_img5 = #{article_img5,jdbcType=VARCHAR},
      </if>
      <if test="classification_id != null">
        classification_id = #{classification_id,jdbcType=INTEGER},
      </if>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=INTEGER},
      </if>
      <if test="checked != null">
        checked = #{checked,jdbcType=INTEGER},
      </if>
      <if test="article_context != null">
        article_context = #{article_context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where article_id = #{article_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ybj.news_website.model.Article">
    update article
    set article_created_time = #{article_created_time,jdbcType=TIMESTAMP},
      article_img1 = #{article_img1,jdbcType=VARCHAR},
      article_img2 = #{article_img2,jdbcType=VARCHAR},
      article_img3 = #{article_img3,jdbcType=VARCHAR},
      article_img4 = #{article_img4,jdbcType=VARCHAR},
      article_img5 = #{article_img5,jdbcType=VARCHAR},
      classification_id = #{classification_id,jdbcType=INTEGER},
      user_id = #{user_id,jdbcType=INTEGER},
      checked = #{checked,jdbcType=INTEGER},
      article_context = #{article_context,jdbcType=LONGVARCHAR}
    where article_id = #{article_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ybj.news_website.model.Article">
    update article
    set article_created_time = #{article_created_time,jdbcType=TIMESTAMP},
      article_img1 = #{article_img1,jdbcType=VARCHAR},
      article_img2 = #{article_img2,jdbcType=VARCHAR},
      article_img3 = #{article_img3,jdbcType=VARCHAR},
      article_img4 = #{article_img4,jdbcType=VARCHAR},
      article_img5 = #{article_img5,jdbcType=VARCHAR},
      classification_id = #{classification_id,jdbcType=INTEGER},
      user_id = #{user_id,jdbcType=INTEGER},
      checked = #{checked,jdbcType=INTEGER}
    where article_id = #{article_id,jdbcType=INTEGER}
  </update>
</mapper>