<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybj.news_website.dao.Top_upMapper">
  <resultMap id="BaseResultMap" type="com.ybj.news_website.model.Top_up">
    <id column="top_up_id" jdbcType="INTEGER" property="top_up_id" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="created_time" jdbcType="TIMESTAMP" property="created_time" />
    <result column="money" jdbcType="DOUBLE" property="money" />
    <result column="increased_balance" jdbcType="DOUBLE" property="increased_balance" />
    <result column="chaanel_id" jdbcType="VARCHAR" property="chaanel_id" />
    <result column="exchange_rate" jdbcType="VARCHAR" property="exchange_rate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    top_up_id, user_id, created_time, money, increased_balance, chaanel_id, exchange_rate
  </sql>
  <select id="selectByExample" parameterType="com.ybj.news_website.model.Top_upExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from top_up
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from top_up
    where top_up_id = #{top_up_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from top_up
    where top_up_id = #{top_up_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ybj.news_website.model.Top_upExample">
    delete from top_up
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ybj.news_website.model.Top_up">
    insert into top_up (top_up_id, user_id, created_time, 
      money, increased_balance, chaanel_id, 
      exchange_rate)
    values (#{top_up_id,jdbcType=INTEGER}, #{user_id,jdbcType=INTEGER}, #{created_time,jdbcType=TIMESTAMP}, 
      #{money,jdbcType=DOUBLE}, #{increased_balance,jdbcType=DOUBLE}, #{chaanel_id,jdbcType=VARCHAR}, 
      #{exchange_rate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ybj.news_website.model.Top_up">
    insert into top_up
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="top_up_id != null">
        top_up_id,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="created_time != null">
        created_time,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="increased_balance != null">
        increased_balance,
      </if>
      <if test="chaanel_id != null">
        chaanel_id,
      </if>
      <if test="exchange_rate != null">
        exchange_rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="top_up_id != null">
        #{top_up_id,jdbcType=INTEGER},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=INTEGER},
      </if>
      <if test="created_time != null">
        #{created_time,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null">
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="increased_balance != null">
        #{increased_balance,jdbcType=DOUBLE},
      </if>
      <if test="chaanel_id != null">
        #{chaanel_id,jdbcType=VARCHAR},
      </if>
      <if test="exchange_rate != null">
        #{exchange_rate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ybj.news_website.model.Top_upExample" resultType="java.lang.Long">
    select count(*) from top_up
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update top_up
    <set>
      <if test="record.top_up_id != null">
        top_up_id = #{record.top_up_id,jdbcType=INTEGER},
      </if>
      <if test="record.user_id != null">
        user_id = #{record.user_id,jdbcType=INTEGER},
      </if>
      <if test="record.created_time != null">
        created_time = #{record.created_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.money != null">
        money = #{record.money,jdbcType=DOUBLE},
      </if>
      <if test="record.increased_balance != null">
        increased_balance = #{record.increased_balance,jdbcType=DOUBLE},
      </if>
      <if test="record.chaanel_id != null">
        chaanel_id = #{record.chaanel_id,jdbcType=VARCHAR},
      </if>
      <if test="record.exchange_rate != null">
        exchange_rate = #{record.exchange_rate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update top_up
    set top_up_id = #{record.top_up_id,jdbcType=INTEGER},
      user_id = #{record.user_id,jdbcType=INTEGER},
      created_time = #{record.created_time,jdbcType=TIMESTAMP},
      money = #{record.money,jdbcType=DOUBLE},
      increased_balance = #{record.increased_balance,jdbcType=DOUBLE},
      chaanel_id = #{record.chaanel_id,jdbcType=VARCHAR},
      exchange_rate = #{record.exchange_rate,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ybj.news_website.model.Top_up">
    update top_up
    <set>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=INTEGER},
      </if>
      <if test="created_time != null">
        created_time = #{created_time,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="increased_balance != null">
        increased_balance = #{increased_balance,jdbcType=DOUBLE},
      </if>
      <if test="chaanel_id != null">
        chaanel_id = #{chaanel_id,jdbcType=VARCHAR},
      </if>
      <if test="exchange_rate != null">
        exchange_rate = #{exchange_rate,jdbcType=VARCHAR},
      </if>
    </set>
    where top_up_id = #{top_up_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ybj.news_website.model.Top_up">
    update top_up
    set user_id = #{user_id,jdbcType=INTEGER},
      created_time = #{created_time,jdbcType=TIMESTAMP},
      money = #{money,jdbcType=DOUBLE},
      increased_balance = #{increased_balance,jdbcType=DOUBLE},
      chaanel_id = #{chaanel_id,jdbcType=VARCHAR},
      exchange_rate = #{exchange_rate,jdbcType=VARCHAR}
    where top_up_id = #{top_up_id,jdbcType=INTEGER}
  </update>
</mapper>